
.form {}

.form__fieldset {}

.form__legend {}

.form__input,
.form__textarea {
  width: 100%;
  height: 100%;
  padding: 13px 14px;

  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  color: #cccccc;

  border: solid 1px #e7e7e7;
  border-right: none;

  @media (max-width: $bp-4+px) {
    border-right: solid 1px #e7e7e7;

  }
}

.form__input {}

.form__textarea {}

.form__radio {}

.form__checkbox {}

.form__lebel {}
