.page-body {
  position: relative;

  min-width: $width-min;
  height: 100%;

  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-style: normal;
  font-size: $font-size-base;
  // line-height: normal;
  color: $font-color-base;

  background-color: $body-bg-color;

}
