
.reviews {

  &--grey {
    background-color: #f8f8f8;
  }
}

.reviews__body {
  position: relative;

  display: flex;
  // align-items: center;
  align-items: flex-start;
  //padding: 70px 0;
  //@include adaptiv-value("padding", 70, 30, 1);


  @include adaptiv-value("padding-left", 110, 50, 1);
  @include adaptiv-value("padding-right", 100, 50, 1);

  // padding-left: 110px;
  // padding-right: 100px;

  // @media (max-width: $bp-1+px) {
  //   padding-left: 90px;
  //   padding-right: 80px;
  // }

  .reviews--grey & {
    @include adaptiv-value("padding-top", 70, 30, 1);
    @include adaptiv-value("padding-bottom", 70, 30, 1);
  }

  @media (max-width: $bp-3+px) {
    display: block;
  }

}

.reviews__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 150px;
  height: 150px;
  margin-right: 60px;

  border: 3px solid $color-turquoise;

  svg {
    fill: $color-turquoise;
  }

  @media (max-width: $bp-3+px) {
    display: none;
    // flex: 0 0 100px;
    // height: 100px;
    // margin-right: 40px;
  }
}

.reviews__photo {
  flex: 0 0 210px;
  height: 210px;
  margin-right: 30px;

  border-radius: 50%;
  overflow: hidden;

  @media (max-width: $bp-3+px) {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.reviews__content {}

.reviews__text {
  margin-bottom: 18px;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  color: $color-grey;

  @include adaptiv-font(24, 14);
}

.reviews__author {
  position: relative;

  //padding-left: 70px;
  @include adaptiv-value("padding-left", 70, 50, 1);

  font-family: KaushanScript;
  //font-size: 24px;
  @include adaptiv-font(24, 18);
  color: #333333;

  &::before {
    content: "";

    position: absolute;

    top: 50%;
    left: 0;

    //width: 60px;
    @include adaptiv-value("width", 60, 40, 1);
    height: 3px;
    background-color: $color-red;

    transform: translate(0, -50%);
  }
}

.reviews__toggle {
  position: absolute;
  top: 50%;

  background-color: transparent;

  svg {
    fill: #cccccc ;
  }

  &:hover {
    svg {
      fill: $color-red ;
    }
  }

  &:active {
    opacity: 0.7;
  }

  &--prev {
    left: 0;

    transform: translate(0, -50%);

    @media (max-width: $bp-1+px) {
      left: 15px;
    }
  }

  &--next {
    right: 0;

    transform: translate(0, -50%) rotate(180deg);

    @media (max-width: $bp-1+px) {
      right: 15px;
    }
  }

}
