.intro {
  display: flex;
  min-height: 100vh;

  color: $color-white;

  background-image: linear-gradient(to top, rgba(#fce38a, 0.9), rgba(#f38181, 0.9)),  url("../img/intro/bg.jpg");
  background-color: #e89084;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro__boby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 86px;

  text-align: center;
}

.intro__contenet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
}

.intro__subtitle {
  margin-bottom: 42px;

  font-family: KaushanScript;
  font-size: 72px;

  @media (max-width: $bp-1+px) {
    font-size: 60px;
  }

  @media (max-width: $bp-2+px) {
    font-size: 50px;
  }

  @media (max-width: $bp-3+px) {
    font-size: 40px;
  }

  @media (max-width: $bp-4+px) {
    font-size: 30px;
  }
}

.intro__title {
  margin-bottom: 50px;

  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 0.93;
  text-transform: uppercase;

  &::after {
    content: "";

    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-top: 60px;

    background-color: $color-white;
  }

  @media (max-width: $bp-1+px) {
    font-size: 130px;
  }

  @media (max-width: $bp-2+px) {
    font-size: 100px;
  }

  @media (max-width: $bp-3+px) {
    font-size: 70px;
  }

  @media (max-width: $bp-4+px) {
    font-size: 50px;
  }
}

.intro__button {
  position: relative;

  align-self: center;
  padding: 10px 30px;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;

  border: solid 3px $color-white;

  transition: all 0.3s ease;


  span {
    position: relative;

    z-index: 2;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    background-color: $color-yellow;

    transition: all 0.3s ease;
  }

  &:hover {
    color: $color-grey;

    &::before {
      width: 100%;
    }
  }

  &:active {
    opacity: 0.7;
  }

}

.intro__footer {}


//===========================================================================
.footer-intro {
  padding-top: 20px;
}

.footer-intro__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer-intro__item {
  position: relative;

  flex: 0 0 25%;
  padding: 28px 15px;

  text-align: left;

  @media (max-width: 600px) {
    flex: 0 0 50%;
    padding: 20px 15px;
  }

  @media (max-width: $bp-4+px) {
    padding: 15px;
  }
}

.footer-intro__link {
  font-family: Montserrat;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba($color-white, 0.7);

  transition: all 0.3s ease;

  span {
    display: inline-block;
    margin-right: 5px;

    font-weight: 700;
    font-size: 24px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 3px;

    opacity: 0.7;
    background-color: $color-white;
    transition: all 0.3s ease;
  }

  &--active {

    cursor: default;
    &::before {
      opacity: 1;
    }

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 15px;
      width: 70px;
      height: 3px;

      background-color: $color-red;
    }
  }

  &:hover {
    color: $color-white;

    &::before {
      opacity: 1;
    }
  }

  &:active {
    color: rgba($color-white, 0.7);

    &::before {
      opacity: 0.7;
    }
  }

  &--active {
    color: $color-white;
  }

  @media (max-width: $bp-2+px) {
    &::after {
      width: 50px;
    }
  }

  @media (max-width: $bp-3+px) {
    font-size: 14px;

    span {
      font-size: 20px;
    }
  }

  // @media (max-width: $bp-4+px) {
  //   font-size: 12px;

  //   span {
  //     font-size: 18px;
  //   }
  // }
}
