.our-works {
  padding-top: 110px;
  padding-bottom: 130px;
}
.our-works__header {
  margin-bottom: 100px;
}

.our-works__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  display: -ms-grid;
  -ms-grid-columns: 25% 25% 25% 25%;

  margin-bottom: 100px;
}

.our-works__item {

  &--big {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }

  &:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
  }

  &:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span:2;
  }

  &:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-row: 1;
  }

  &:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }

  &:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }

  &:nth-child(7) {
    -ms-grid-column: 4;
    -ms-grid-row: 2;
  }
}

.item-our-works__reviews {

}

//=========================================================
.item-our-works {
  position: relative;

  &:hover {
    background-image: linear-gradient(to top, #fce38a, #f38181);
  }
}
.item-our-works__image {
  width: 100%;

  opacity: 1;
  transition: all 0.3s ease;

  .item-our-works:hover & {
    opacity: 0.1;
  }
}

.item-our-works__info {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 200px;

  text-align: center;

  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;

  .item-our-works:hover & {
    opacity: 1;
  }
}

.item-our-works__icon {
  margin-bottom: 14px;

  svg {
    fill: $color-white;
  }
}

.item-our-works__category {
  margin-bottom: 10px;

  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  color: $color-white;
}

.item-our-works__text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  color: $color-white;
}
