.service {}

.service__header {
  // margin-bottom: 90px;
  @include adaptiv-value("margin-bottom", 90, 50, 1);
}

.service__content {
  // margin-bottom: 120px;
  @include adaptiv-value("margin-bottom", 100, 50, 1);

}

.service__row {
  display: flex;
}

.service__column {
  flex: 0 0 50%;
  max-width: 50%;

  &--image {
    @media (max-width: $bp-2+px) {
      display: none;
    }
  }

  &--content {
    @media (max-width: $bp-2+px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.service__image {
  margin-right: 30px;
}

.service__list {}

.service__item {
  margin-bottom: 10px;
}

.service__reviews {}

//=========================================================
.item-service {}

.item-service__body {}

.item-service__header {
  display: flex;
  align-items: center;
  padding: 14px;
  padding-right: 20px;

  border: solid 1px #e5e5e5;
}

.item-service__icon {
  margin-right: 15px;

  svg {
    fill: $color-turquoise;
  }
}

.item-service__title {
  flex: 1 1 auto;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.item-service__button {

  background-color: transparent;

  transform: rotate(180deg);
  // transition: all 0.3s ease;

  svg {
    fill: #cccccc;
  }

  &:hover {
    svg {
      fill: $color-red;
    }
  }

  &:active {
    opacity: 0.7;
  }

  .item-service--active & {
    transform: rotate(0);
  }

}
.item-service__text {
  display: none;

  padding-top: 12px;
  padding-left: 20px;
  padding-right: 55px;
  padding-bottom: 16px;

  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  color: $color-grey;

  border: solid 1px #e5e5e5;
  border-top: none;

  .item-service--active & {
    display: block;
  }
}
