.statistics {
  background-color: $color-turquoise;
}

.statistics__list {
  display: flex;
}

.statistics__item {
  flex: 0 0 20%;
  padding: 85px 0;

  font-family: Montserrat;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;

  border-left: 1px solid rgba($color-white, 0.3);

  &:last-child {
    border-right: 1px solid rgba($color-white, 0.3);
  }
}

.statistics__number {
  margin-bottom: 25px;

  font-size: 72px;
  font-weight: 700;
}

.statistics__text {
  font-size: 14px;
}
