.statistics {
  background-color: $color-turquoise;
}

.statistics__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.statistics__item {
  flex: 0 0 20%;
  padding: 85px 10px;

  font-family: Montserrat;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;

  border-left: 1px solid rgba($color-white, 0.3);

  &:last-child {
    border-right: 1px solid rgba($color-white, 0.3);
  }

  @media (max-width: $bp-1+px) {
    padding: 70px 10px;
  }

  @media (max-width: $bp-2+px) {
    padding: 60px 10px;
  }

  @media (max-width: $bp-3+px) {
    flex: 0 0 33.333%;
    padding: 40px 10px;

    border: none;

    &:last-child {
      border: none;
    }
  }

  @media (max-width: $bp-4+px) {
    flex: 0 0 50%;
  }
}

.statistics__number {
  margin-bottom: 25px;

  font-size: 72px;
  font-weight: 700;

  @media (max-width: $bp-2+px) {
    font-size: 60px;
  }
}

.statistics__text {
  font-size: 14px;
    @media (max-width: $bp-2+px) {
      font-size: 12px;
    }

}
