.what-we-do {
  padding: 110px 0;
}

.what-we-do__header {
  margin-bottom: 100px;
}

.what-we-do__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: -30px;
}

.what-we-do__item {
  flex: 0 0 33.333%;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 33.333%;
}


//=========================================================
.item-what-we-do {}

.item-what-we-do__body {
  height: 250px;

  background-color: $color-turquoise;
}

.item-what-we-do__link {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 100%;

  transition: all 0.3s ease;

  &:hover {
    transform: translate(-10px, -10px);
  }
}

.item-what-we-do__image {
  position: relative;

  width: 100%;
  height: 100%;
}

.item-what-we-do__image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;

  transition: all 0.3s ease;

  .item-what-we-do__link:hover & {
    z-index: 1;

    opacity: 1;
    background-image: linear-gradient(to top, rgba(#fce38a, 0.9), rgba(#f38181, 0.9));
  }
}


.item-what-we-do__note {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  text-transform: uppercase;
  text-align: center;

  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  opacity: 0;

  .item-what-we-do__link:hover & {
    opacity: 1;
  }
}

.item-what-we-do__icon {
  fill: $color-white;
}

.item-what-we-do__title {
  margin-top: 8px;

  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  color: $color-white;
}
