.main-nav {
  display: flex;

  @media (max-width: $bp-3+px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

    display: block;
    width: 100%;
    height: 100%;
    padding-top: 100px;

    // background-color: rgba(#f38181, 0.4);
    background-color: #f38181;
    transform: translate(-110%, 0);
    overflow: auto;
    transition: all 0.3s ease 0s;


    &--open {
      transform: translate(0, 0);

    }

  }




}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $bp-3+px) {
    display: block;
  }
}

.main-nav__item {
  position: relative;

  margin-right: 58px;

  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $bp-1+px) {
    margin-right: 40px;
  }

  @media (max-width: $bp-2+px) {
    margin-right: 30px;
  }

  @media (max-width: $bp-3+px) {
    margin-right: 0;
    margin-bottom: 30px;

    font-size: 26px;
    text-align: center;
  }

}

.main-nav__link {

  transition: all 0.3s ease;

  &:not([href]) {
    cursor: default;
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;
    bottom: -8px;

    width: 0%;
    height: 3px;

    background-color: $color-yellow;
    transition: all 0.3s ease;

  }

  &--active {
    color: $color-yellow;

    &::before {
      width: 100%;
    }
  }

    @media (min-width: $bp-3+px) {

    &:hover {
      color: $color-yellow;

      &::before {
        width: 100%;
      }
    }

    &:active {
      color: rgba($color-yellow, 0.6);

      &::before {
      background-color: rgba($color-yellow, 0.6);
      }
    }
  }

  @media (max-width: $bp-3+px) {
    position: relative;
  }

}

.main-nav__cart {
  margin-left: 52px;

  svg {
    fill: $color-white;
  }

  &:hover {
    svg {
      fill: $color-yellow;
    }
  }

  &:active {
    svg {
      fill: rgba($color-yellow, 0.6) ;
    }
  }

  @media (max-width: $bp-1+px) {
    margin-left: 40px;
  }

  @media (max-width: $bp-2+px) {
    margin-left: 30px;
  }

  @media (max-width: $bp-3+px) {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;

    text-align: center;

    svg {
      width: 26px;
      height: auto;
    }
  }
}

.main-nav__search {
  margin-left: 42px;

  svg {
    fill: $color-white;
  }

  &:hover {
    svg {
      fill: $color-yellow;
    }
  }

  &:active {
    svg {
      fill: rgba($color-yellow, 0.6) ;
    }
  }

  @media (max-width: $bp-1+px) {
    margin-left: 30px;
  }

  @media (max-width: $bp-2+px) {
    margin-left: 20px;
  }

  @media (max-width: $bp-3+px) {
    display: block;
    margin-left: 0;

    text-align: center;

    svg {
      width: 26px;
      height: auto;
    }
  }

}

