.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  // background-color: rgba(#f38181, 0.4);
}

.page-header__body {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.page-header__logo {
  position: relative;
  z-index: 5;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;

  &:not([href]) {
    cursor: default;
  }
}

.page-header__nav {}

.page-header__burger {
  position: relative;
  // position: absolute;
  z-index: 5;

  display: none;
  width: 30px;
  height: 20px;

  @media (max-width: $bp-3+px) {
    display: block;
  }
}

.page-header__burger::before,
.page-header__burger::after {
  content: "";

  position: absolute;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #fff;

  transition: all 0.3s ease 0s;
}

.page-header__burger::before {
  top: 1px;
}

.page-header__burger::after {
  bottom: 0;
}

.page-header__burger span {
  position: absolute;
  top: 9px;

  width: 100%;
  height: 2px;
  background-color: #fff;

  transition: all 0.3s ease 0s;
}

.page-header__burger.active::before {
  top: 9px;
  transform: rotate(45deg);
}

.page-header__burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
}

.page-header__burger.active span {
  transform: scale(0);
}
