.follow-us {}

.follow-us__title {
  margin-right: 23px;

  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  color: $color-grey;
}

.follow-us__list {
  display: flex;
  align-items: center;
}

.follow-us__item {
  margin-right: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.follow-us__link {

}

.follow-us__icon {
  fill: $color-turquoise;

  .follow-us__link:hover & {

  }
}
