.instagram {}

.instagram__title {
  margin-bottom: 38px;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;

  @media (max-width: $bp-1+px) {
    margin-bottom: 30px;
  }
}

.instagram__list {
  display: inline-flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0 -1px;
  margin-bottom: 16px;
}

.instagram__item {
  flex: 0 0 33.333%;
  padding: 0 1px;
  margin-bottom: 2px;

  @media (max-width: $bp-2+px) {
    flex: 0 0 auto;
  }
}

.instagram__link {}

.instagram__more {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.85;
  color: #333333;

  &:hover {
    color: $color-red;
  }

  &:active {
    opacity: 0.7;
  }
}
