.page-footer {
  // padding-top: 70px;
  @include adaptiv-value("padding-top", 70, 50, 1);
  background-color: #f8f8f8;
}

.page-footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.page-footer__column {
  flex: 0 0 41.463%;
  padding: 0 15px;

  @media (max-width: $bp-2+px) {
    flex: 0 0 100%;

    margin-bottom: 30px;
  }

  @media (max-width: $bp-3+px) {
    flex: 0 0 100%;
  }

  &--blogs {
    flex: 0 0 34.146%;

    @media (max-width: $bp-2+px) {
      flex: 0 0 50%;
    }

  }

  &--instagram {
    flex: 0 0 24.39%;

    @media (max-width: $bp-2+px) {
      flex: 0 0 50%;
      align-self: start;
    }

  }
}

.page-footer__logo {
  margin-bottom: 30px;

  font-family: Montserrat;
  font-size: 46px;
  font-weight: 700;
  color: #cccccc;

  @media (max-width: $bp-1+px) {
    margin-bottom: 20px;
  }
}

.page-footer__text {
  margin-bottom: 30px;
  padding-right: 10px;

  font-family: Roboto;
  font-size: 15px;
  line-height: 1.6;
  color: $color-grey;
}

.page-footer__followers {
  padding-bottom: 16px;
  margin-bottom: 16px;

  font-family: Montserrat;
  font-size: 14px;
  color: #333333;

  border-bottom: 1px solid #e5e5e5;

  b {
  font-size: 18px;
  font-weight: 700;
  }
}

.page-footer__follow-us {
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}

.page-footer__form {}

.form-page-footer {
  display: flex;
  flex-wrap: wrap;
}

.form-page-footer__item {
  flex: 0 0 230px;

  @media (max-width: $bp-4+px) {
    flex: 0 0 100%;

    margin-bottom: 15px;
  }
}

.form-page-footer__input {}

.form-page-footer__button {
  flex: 0 0 150px;

  @media (max-width: $bp-4+px) {
    flex: 0 0 100%;
  }

}

.page-footer__bottom {
  // margin-top: 70px;
  @include adaptiv-value("margin-top", 70, 20, 1);
  padding: 22px 0;

  font-family: Montserrat;
  font-size: 14px;
  text-align: center;
  color: #333333;

  border-top: 1px solid #e5e5e5;

  a {
    color: $color-red;
  }
}





